<?xml version="1.0" encoding="UTF-8"?>
<beans  default-init-method="init"
        default-destroy-method="close"
        default-autowire="byType"
        xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="commandManger" class="spring.lookup.config.CommandManager">
        <lookup-method name="createCommand" bean="command"/>
    </bean>

    <bean id="initBean" class="spring.lookup.init.InitBean"/>
    <bean id="myLifeCycleBean" class="spring.lookup.lifecycle.MyLifeCycleBean"/>
    <bean id="graceBean" class="spring.lookup.lifecycle.GraceFulBean"/>
</beans>
