# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\software\Java Tools\IntelliJ IDEA 2020.3.3\Ideal-workspace\collaborate\java-advance-share-club\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
